<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">HTML Genrator</a>
    </div>
  </nav>
  <div style="display: flex;margin: 25px;">
    <div style="width: 45%;">
      <form action="/">
        <div class="form-floating">
          <textarea class="form-control" placeholder="What's on your mind" id="floatingTextarea2" style="height: 400px"
            name="raw_text"></textarea>
          <label for="floatingTextarea2">Whats on your mind?</label>
        </div>
        <div style="margin-top: 50px;display: flex; justify-content: space-between;">
          <div></div>
          <div>
            <input type="submit" class="btn btn-dark" value="Execute">
            <a href="/" class="btn btn-dark">Clear</a>
          </div>
        </div>
      </form>
    </div>
    <div style="margin-left: 3%; width: 1%">
      <div style="height: 500px; width: 3px;background-color: silver;"></div>
    </div>
    <div style="width: 45%;display: flex;flex-direction: column;justify-content: space-between;margin-bottom: 100px;">
      <div>
        <h3>Output: </h3>
        {{code | safe}}
      </div>
      <div>
        <h3>Code: </h3>
        <textarea class="form-control" placeholder="HTML" id="floatingTextarea1" style="height: 200px"
          name="raw_text">{{code}}</textarea>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
</body>

</html>